@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
.board{
    display: grid;
    width: 500px;
    height: 500px;
    margin: auto;
    gap: 5px;
    grid-template-columns: 33.34% 33.33% 33.33%;
    grid-template-rows: 33.34% 33.33% 33.33%;

    margin-top: 20px;
    overflow: hidden;
    button{
        background-color: black;
        border: none;
        box-shadow: 0px 0px 10px lime;
        color: lime;
        font-size: 8rem;
        font-family: 'Crimson Text', serif;
        font-weight: lighter;
        text-shadow: 0px 0px 10px lime;
        cursor: pointer;
    }
    button:nth-child(1){
        border-right: 2px solid lime;
        border-bottom: 2px solid lime;
    }
    button:nth-child(2){
        border-right: 2px solid lime;
        border-left: 2px solid lime;
        border-bottom: 2px solid lime;
    }
    button:nth-child(3){
        border-left: 2px solid lime;
        border-bottom: 2px solid lime;
    }
    button:nth-child(4){
        border-right: 2px solid lime;
        border-top: 2px solid lime;
        border-bottom: 2px solid lime;
    }
    button:nth-child(5){
        border-top: 2px solid lime;
        border-right: 2px solid lime;
        border-left: 2px solid lime;
        border-bottom: 2px solid lime;
    }
    button:nth-child(6){
        border-top: 2px solid lime;
        border-left: 2px solid lime;
        border-bottom: 2px solid lime;
    }
    button:nth-child(7){
        border-top: 2px solid lime;
        border-right: 2px solid lime;
    }
    button:nth-child(8){
        border-top: 2px solid lime;
        border-right: 2px solid lime;
        border-left: 2px solid lime;
    }
    button:nth-child(9){
        border-top: 2px solid lime;
        border-left: 2px solid lime;
    }
}
